.heder{
	background-color: #111;
}

body {
	padding: 0;
	margin: 0;
	
	overflow:hidden;
}

.container {
	padding-top:100px;
    width: 100%;
}

.container>.longLogo>img {
	
	margin: auto;
}

#slider {
	padding-top: 25px;
	width: 50%;
	margin: auto;
}

#sliderArrow {
	margin: 50px;
}

.navbar-default {
	border-color: #000;
}

.navbar {
    border-radius: 0px;
}

.navbar-nav {
	margin: 15px;
	font-size: 16px;
}

.imgFront {
	margin-top: 25px;
	text-align: center;
}

.imgFront>img {
	padding: 5px;
	margin-right: 50px;
	max-width: 350px;
}

.fontText {
	text-align: center;
	font-family: "Segoe Script";
	font-style: italic;
	font-size: 20px;
	
	margin: 5% 10%
}

.page {
	width: 100%;
 	height:100vh;
}

#page:nth-child(1) {
	background-image: url("../img/longLogo.png");
    background: -webkit-linear-gradient(left, #ffc6c7 , #fff);
    background: -o-linear-gradient(right, #ffc6c7, #fff);
    background: -moz-linear-gradient(right, #ffc6c7, #fff);
    background: linear-gradient(to right, #ffc6c7 , #fff);
}

#page:nth-child(2) {
	background-image: url("../img/longLogo.png");
    background: -webkit-linear-gradient(left, #ffc6c7 , #fff);
    background: -o-linear-gradient(right, #ffc6c7, #fff);
    background: -moz-linear-gradient(right, #ffc6c7, #fff);
    background: linear-gradient(to right, #ffc6c7 , #fff);
}

#page:nth-child(3) {
	background-image: url("../img/longLogo.png");
    background: -webkit-linear-gradient(left, #ffc6c7 , #fff);
    background: -o-linear-gradient(right, #ffc6c7, #fff);
    background: -moz-linear-gradient(right, #ffc6c7, #fff);
    background: linear-gradient(to right, #ffc6c7 , #fff);
}